* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F9FAFB;
}

.header h1 {
    width: 100wh;
    height: 100vh;
}

.navbar {

    position: fixed;
    left: 30px;
    top: 10px;
    padding: 5px;
}

ul {
    list-style: none;
}

li {
    margin: 50px 0;
    margin-left: 30px;
}

.logo {
    margin: 40px 0;
    margin-left: 30px;
    font-size: 30px;

}

a {
    text-decoration: none;
    color: black;
}

span {
    display: block;
}

.ctn {
    padding: 10px 40px;
    background: tomato;
    color: black;
    border-radius: 30px;
    text-align: center;  
    
}

.line {
display: flex;
width: 50px;
height: 4px;
background: tomato;
margin-top: 10px;
    border-radius: 5px;
    position: absolute;
    top: 80px;
    left: 1px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */


/* Clear floats after image containers */


.row {
    
    display: flex;
    position: absolute;
    top: 350px;
    left: 300px;
    flex-direction: row;

}

.column {
    flex: 33.33%;
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px white;
    box-shadow: 20px 20px 20px 10px #E5E7EB;
    float: left;
    width: 33.33%;
    text-align: center;
}

img {
    border-radius: 75%;
    padding: 20px;
    background: white;
    }

.footer-content {
    display: flex;
    position: absolute;
    left: 1000px;
    top: 100px;
}

.header-content{
    position:absolute; 
    left: 300px; 
    top: 100px; 
    font-size: 40px;
}
.menu {
    width: 30px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
    display: none;
    color: red;
      }

  .cart{
      margin-left: 400px;
      margin-top: 30px;
      display: none;

  }







 @media only screen and (max-width:700px) {
       
.navbar {
padding: 0;
}

.logo {
position: absolute;
top: 0px;
left: 100px;
align-items: center;
margin: 1px;
}

ul{
display: none;
}

header {
position: absolute;
font-size: 10px;
left: 0px;
}

.header-content{
position:absolute; 
left: 50px; 
top: 150px; 
font-size: 15px;
}

.row {
display: flex;
position: absolute;
top: 350px;
left: 100px;
flex-direction: column;
top: 250px;
}
.menu{
display: block;
}
.cart{
    display: block;
}

}